<div class="footer_container">
    <div class="footer_links">
        <div class="footer_link--wrapper">
            <div class="footer_link--items">
                <h2>About Us</h2>
                <a routerLink="/">How Studybuddy Works?</a>
                <a routerLink="/">Careers</a>
                <a routerLink="/">Investments</a>
                <a routerLink="/">Terms of Servce</a>
            </div>
            <div class="footer_link--items">
                <h2>Contact Us</h2>
                <a routerLink="/">Contact School District</a>
                <a routerLink="/">Support</a>
                <a routerLink="/">Sign Up To Tutor!</a>
                <a routerLink="/">Locations</a>
            </div>
        </div>
        <div class="footer_link--wrapper">
            <div class="footer_link--items">
                <h2>Assistance</h2>
                <a href="https://www.superprof.com/s/all-subjects,United-States,,.html">Need a Tutor</a>
                <a href="https://i.pinimg.com/originals/b9/43/da/b943da936ac90a125113b4decfa3c9ff.png">Tips for College</a>
                <a href="https://img.washingtonpost.com/rw/2010-2019/WashingtonPost/2015/07/07/Weekend/Images/wk-minions0710-5.jpg">School Counselors</a>
                <a href="https://www.udemy.com/">Courses</a>
            </div>
        </div>
    </div>
</div>
