<div class="footer_container">
    <div class="footer_links">
        <div class="footer_link--wrapper">
            <div class="footer_link--items">
                <h2>About Us</h2>
                <a routerLink="/">How Studybuddy Works?</a>
                <a routerLink="/">Careers</a>
                <a routerLink="/">Investments</a>
                <a routerLink="/">Terms of Servce</a>
            </div>
            <div class="footer_link--items">
                <h2>Contact Us</h2>
                <a href="https://www.niche.com/k12/search/best-school-districts/" target="_blank">Contact School District</a>
                <a href="https://safesupportivelearning.ed.gov/training-technical-assistance/roles/school-support-staff" target="_blank">Support</a>
                <a href="https://www.tutor.com/" target="_blank">Sign Up To Tutor!</a>
                <a href="https://www.tutordoctor.com/locations/" target="_blank">Locations</a>
            </div>
        </div>
        <div class="footer_link--wrapper">
            <div class="footer_link--items">
                <h2>Assistance</h2>
                <a routerLink="/">Need a Tutor</a>
                <a routerLink="/">Tips for College</a>
                <a routerLink="/">School Counselors</a>
                <a routerLink="/">Courses</a>
            </div>
        </div>
    </div>
</div>
