

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<title>Welcome Back {{name}}</title>
</head>
<body>
<nav class="navbar">
        <a href="/" class="navbar_logo">STUDYBUDDY</a>
      <div class="navbar_toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    <div class="navbar_menu">
    <a routerLink="welcomepage" class="navbar_link">Home</a>
    <a routerLink="Math" class="navbar_link">Subject</a>
    <a routerLink=""  class="navbar_link">Log Out</a>     
    </div>    
    </nav>

    <div class="hero">
        <div class="hero_content">
            <h1>Welcome Back {{name}}!</h1>
        </div>

    </div>

</body>