<h2>Welcome to {{Subject}} {{this.gservice.currentUserName}}</h2>
<div >
    <ul *ngFor ="let hwItemz of getHwForSubject()">
    <li>{{hwItemz }}</li>
</ul>
</div>

<p></p>

<h3>Select Item Completed Below:</h3>
<select [(ngModel)]="itemCompleted" >
    <option *ngFor ="let hwItemz of getHwForSubject()" > {{hwItemz}}</option>
</select>

<button (click)="complete()">Completed</button>

<h3>Add New Homework Item Below:</h3>
<input type="text" [(ngModel)]="addNewItem" />

<button (click)="addItemToHomework()">Add To Homework</button>

<h3>{{message}}</h3>