* {
    box-sizing: border-box;
    /* margin: 0; */
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;

}




.container_ {
   border: 15px double white;
   justify-content: center;
   justify-items: center;
   justify-self: center;
   /* width: 600px; */
   /* min-height: 400px; */
   /* margin: 3rem; */
   padding: 10px;
   box-shadow: 0 0 40px white;
   border-radius: 25px;
   background-color:rgba(209, 239, 209, 0.65);
  
}

.main_content h1 {
    font-size: clamp(1rem, 3vw, 2rem ); 
    padding: 3rem 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    
}

h3 {
   display: block;
   font-size: 1.4em;
   font-weight: bold;
}

.centerThis{
    justify-content: center;
    justify-items: center;
    align-self: center;
    justify-self: center;
    width: auto;
    box-sizing: border-box;
}

#itemList {
   border: 4px double white;
   border-radius: 15px;
   background-color: rgb(209, 239, 209);
   margin-left: 10%;
   margin-right: 10%;
  

}
#listItem{
    font-size: 14px;
    background-color: rgb(209, 239, 209);

 
}


.items {
   justify-content: center;
   justify-items: center;
   background-color: rgb(209, 239, 209);
}

.editingcontainer {
    text-align: center;
    border: 4px solid white;
    box-shadow: 0 0 40px white;
    border-radius: 25px;
    /* border-radius: var(--border-radius); */
    justify-content: center;
    align-items: center;
    justify-self: center;
    justify-items: center;

  padding: 10px;
}


.form_title {
    /* margin: 1.2rem; */
    font-size: 18px;
 }
 h2{
    margin: 1.3rem;
    font-size: 23px;
    text-align: center;
 }

body{
    margin:0px;
}
#completed{
    height: 100px;
    /* margin: auto; */
}
#add{
    border: 4px solid white;
    background-color: white;
    border-radius: 15px;
    justify-content: center;
    height: 150px;
    padding: 10px;
    margin: auto;
}
button{
    padding:5px;
    background-color: rgb(209, 239, 209);
    border: 2px solid white;
    border-radius: 15px;
    margin: 10px;
    font-size: 13px;
    font-weight:bold ;
    width: 150px;
}


input, select{ 
    padding:5px;
    background-color: rgb(209, 239, 209);
    border: 2px solid white;
    border-radius: 15px;
    font-weight:bold ;
    font-size: 15px;
    width: 150px;
    /* display: flex; */

    justify-content: center;
    justify-items: center;
    justify-self: center;
}
.c{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;

}

