
<div class="LogPage">
    <div class="container_">
    <!-- <form class="form" id="login"> -->
    <h1 class="form_title">Sign Up Page</h1>
    <div class="form_input-group">
    <input type="text" class="form_input" autofocus placeholder="Name" [(ngModel)] = "name" > 
    </div>
    
    
    
    <div class="form_input-group">
    <input type="text" class="form_input" autofocus placeholder="Username" [(ngModel)] = "username" > 
    </div>
    
    <div class="form_input-group">
    <input type="text" class="form_input" autofocus placeholder="Password" [(ngModel)] = "password" > 
    </div>
    
    
    <span>{{message}}</span><br>
    <button class="log_button" (click)="signIn()"> Sign Up</button>
    <!-- </form> -->
    </div>
    </div>