<div class="LogPage">
<div class="container_">
<form class="form" id="login">
<h1 class="form_title">Sign Up Page</h1>
<div class="form_input-group">
<h3>Name</h3>
<input type="text" class="form_input" [(ngModel)] = "name" > 
</div>



<div class="form_input-group">
<h3>Username</h3>
<input type="text" class="form_input" [(ngModel)] = "username" > 
<br>
</div>

<div class="form_input-group">
<h3>Password</h3>
<input type="text" class="form_input" [(ngModel)] = "password" > 
<br>
</div>
</form>
</div>
</div>

<span>{{message}}</span><br>
<button class="log_button" (click)="signIn()"> Sign Up</button>



