<div class="LogPage">
<div class="container_">
<form class="form" id="login">
<h1 class="form_title">Log In Page</h1>
<div class="form_input-group">
<input type="text" class="form_input" autofocus placeholder="Username" [(ngModel)] = "username"> 
</div>

<div class="form_input-group">
<input type="text" class="form_input" autofocus placeholder="Password" [(ngModel)] = "password"> 
</div>


<button class="log_button" (click)="check()">Log In</button>
<button class="log_button" (click)="signInPage()"> Sign Up</button>
<h1>{{message}}</h1>
</form>
</div>
</div>
