
a{
   margin-right: 55px;
   padding-right: 55px;
} 
  
.menu-item {
   cursor: pointer;
   padding: 5px 0;
}
.menu-item :hover{
   text-decoration: underline;
} 
.wholeContainer{
   display: flex;
   
}
.wholeContainer h1{
   margin-right: 575px;
   margin-left: 55px;
}
.menuToggle{
   margin-right: 150px;
   
}
