<div class="topnav" id="myTopnav">

  <a href="/" class="navbar_logo">STUDYBUDDY</a>
  <a routerLink="/welcomepage" class="dropbtn">Home</a>

  <div class="dropdown">

    <button class="dropbtn">Subjects
      <i class="fa fa-caret-down"></i>
    </button>

    <div class="dropdown-content">
      <a routerLink="Math">Math</a>
      <a routerLink="/">English</a>
      <a routerLink="/">Science</a>
      <a routerLink="/">Phsyics</a>
      <a routerLink="/">Art</a>
      <a routerLink="/">History</a>
    </div>

  </div>
    <a routerLink="/LoginPage" class="dropbtn">Log Out</a>

</div>
    