<div class="topnav" id="myTopnav">

  <a href="/" class="navbar_logo">STUDYBUDDY</a>
  <a routerLink="/welcomepage" class="dropbtn">Home</a>

  <div class="dropdown">

    <button class="dropbtn">Subjects
    </button>

    <div class="dropdown-content">
      <a routerLink="/Math">Math</a>
      <a routerLink="/English">English</a>
      <a routerLink="/Science">Science</a>
      <a routerLink="/Physics">Phsyics</a>
      <a routerLink="/Art">Art</a>
      <a routerLink="/History">History</a>
    </div>

  </div>
    <a routerLink="/LoginPage" class="dropbtn">Log Out</a>

</div>
    