* {
    /* box-sizing: border-box; */
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}




@media screen and (max-width: 768px) {
    body.active {
        overflow-y: hidden ;
        overflow-x: hidden;
    }

    .navbar_link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.navbar_menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
}

.navbar_menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--green);
}

.navbar_toggle.bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--black);
    display: block;
    cursor: pointer;

    }

#mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%);
    }
    
 #mobile-menu.is-active .bar:nth-child(2) {
     opacity: 0;
    }

#mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    }

#mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);

    }
  
}

.hero {
    background:  linear-gradient(to right, lightgreen, darkgreen);
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;     
}
#tips{
    flex-direction:row;
    width: 100%;
}
.hero_content{
    display: flex;
    flex-direction:column;
   

}
.comp{
    display: flex;
flex-direction: column;
width: 100%;

}

.new{
/* rgb(94, 172, 87) */
    background: linear-gradient(to right, lightgreen, green); 
    /* border-radius: 25px; */
    display: flex;
    /* flex-direction: row; */
}

#titles{
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 35px;
    text-shadow: 3px 3px 5px white;
    font-weight: bolder;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
}

.footer_container {
    background: linear-gradient(to right, lightgreen, green);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer_links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
}

.footer_link--wrapper {
    display: flex;
}

.footer_link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer_link--items h2 {
    margin-bottom: 16px;
}

.footer_link--items > h2 {
    color: black;
}

.footer_link--items a {
    color: black;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer_link--items a:hover {
    color: darkgreen;
    transition: 0.3s ease-out;
}
