
div{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.col1{
    width: 90px;
    height: 30px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-right-style:none;
    display: flex;
    justify-content: center;

}

.col2{
    width: 45px;
    height: 30px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
}

p{
margin: 5px;
font-size: small;
}