<div class="main">
    <div class="main_container">
      <div class="main_content">
        <h1>STUDYBUDDY</h1>
        <h2>Get Your Education On.</h2>
        <h2>Scholars wonder.</h2>
        <p>To become a new user. Create an Account Today.</p>
        <button class="main_btn"><a routerLink="LoginPage">Login or Sign-up</a></button>  
      </div>
        <div class="main_img--container">
            <img src="https://livingstonmontessori.com/images/illustrations/undraw_book_lover_mkck.svg" alt="pic" id="main_img">
          </div>
          <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</div>
</div>

<div class="footer_container">
    <div class="footer_links">
        <div class="footer_link--wrapper">
            <div class="footer_link--items">
                <h2>About Us</h2>
                <a routerLink="/">How Stdybuddy Works?</a>
                <a routerLink="/">Careers</a>
                <a routerLink="/">Investments</a>
                <a routerLink="/">Terms of Servce</a>
            </div>
            <div class="footer_link--items">
                <h2>Contact Us</h2>
                <a routerLink="/">Contact School District</a>
                <a routerLink="/">Support</a>
                <a routerLink="/">Sign Up To Tutor!</a>
                <a routerLink="/">Locations</a>
            </div>
        </div>
        <div class="footer_link--wrapper">
            <div class="footer_link--items">
                <h2>Assitance</h2>
                <a routerLink="/">Need a Tutor</a>
                <a routerLink="/">Tips for College</a>
                <a routerLink="/">School Counselors</a>
                <a routerLink="/">Courses</a>
            </div>
        </div>
    </div>
</div>
