<!-- <h1>Home Page</h1> -->
<!-- <app-homework-component [Subject]="Math"></app-homework-component> -->
<div class="main">
    <div class="main_container">
      <div class="main_content">
        <h1>STUDYBUDDY</h1>
        <h2>Get Your Education On.</h2>
        <h2>Scholars wonder.</h2>
        <p>To become a new user. Create an Account Today.</p>
        <button class="main_btn"><a routerLink="LoginPage">Login or Sign-up</a></button>  
      </div>
        <div class="main_img--container">
            <img src="https://livingstonmontessori.com/images/illustrations/undraw_book_lover_mkck.svg" alt="pic" id="main_img">
          </div>
          <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap" rel="stylesheet">
</div>
</div>

<app-footer-page></app-footer-page>
